$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-background: url(../../assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%,#262425 100%),
    #211F20;

$footer-gradient-background: url(../../assets/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    #211F20;

$card__hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@mixin h2 {
    font: {
        family: Georgia;
        size: 4.4rem;
        weight: 400;
    }
    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.5rem;
    }
    line-height: 130%;
    letter-spacing: 0.21rem;
}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }
    line-height: 115%;
    letter-spacing: 0.12rem;
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 110%;
    letter-spacing: 0.09rem;
}

@mixin paragraph_l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 160%;
}

@mixin paragraph_s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.2rem;
    }
    letter-spacing: 0.192rem;
    line-height: 110%;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.3rem;
    }
    line-height: 110%;
    letter-spacing: 0.13rem;
}

@mixin slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    box-shadow: inset 0 0 0 0.3rem $color-primary;
    cursor: pointer;
    border-radius: 100%;
    padding: 1.9rem;
    background: none;
    border: none;
    outline: none;
    transition-duration: 0.5s;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;
    }
}

@mixin button {
    padding: 1.5rem 4.5rem;
    font-size: 1.7rem;
    border-radius: 10rem;
    line-height: 130%;
    letter-spacing: 0.108rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition-duration: 0.5s;
}

@mixin button__primary {
    background-color: $color-primary;

    &:hover {
        background-color: $color-primary-light;
    }

    @include button;
}

@mixin button__secondary {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem $color-primary;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;
    }

    @include button;
}

:root {
    font-size: 10px;
}

* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    flex: 1;
    justify-content: space-between;
}

.header {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 6rem;

    .nav {
        width: 44.3rem;
        display: flex;

        .nav__list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            &__item {
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;

                    &:hover {
                        color: $color-light-s;
                        cursor: pointer;
                    }
                }

            }

            &__link {
                color: $color-light-xl;
                font-family: Arial;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 160%;

                &__active {
                    border-bottom: solid 0.3rem $color-primary;
                }

                &__disabled {
                    color: $color-dark-s;
                }
            }
        }
    }
}

.logo {
    display: flex;
    cursor: pointer;
    flex-direction: column; ///////////////////////////////////////

    &__title {
        color: $color-primary;
        @include logo_title();
    }

    &__subtitle {
    margin-top: 1rem;
    text-align: center;
    color: $color-light-xl;
    @include logo_subtitle();
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding-top: 18rem;
    background: $start-screen-background;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__image__wrapper {
        display: flex;
    }

    &__image {
        width: 100%;
        max-width: 69.8rem;
        max-height: 72.8rem;
    }
}

.content__section {
    padding-bottom: 8rem;
    max-width: 46.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &__title {
        display: flex;
        flex-direction: column;
        max-width: 31rem;
        color: $color-light-xl;
        @include h2;
    }

    &__subtitle {
        margin-top: 4.2rem;
        font-size: 1.5rem;
        color: $color-dark-s;
        font-family: Arial;
        line-height: 160%;
    }

    &__button {
        margin-top: 4rem;
        @include button__primary;
    }

    .hero__button__link {
        text-decoration: none;
        color: $color-dark-3xl;
    }
}

.about {
    display: flex;//

    &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 8rem;
        padding-bottom: 10rem;
    }

    &__image__wrapper {
        display: flex;
        margin-right: 12rem;
    }

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 43rem;
    }

    &__title {
        span {
            display: block;
        }
        color: $color-dark-l;
        @include h3;
    }

    &__description {
        margin-top: 2.5rem;

        p {
            & + p {
                margin-top: 2.5rem;
            }
            color: $color-dark-l;  //цвет уточнить! color-dark-xl
            @include paragraph_l;
        }
    }
}

.pets {
    background-color: $color-light-l;
    padding-top: 8rem;
    padding-bottom: 9.8rem;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        span {
            display: block;
        }
        max-width: 40rem;
        text-align: center;
        color: $color-dark-l;
        @include h3;
    }

    &__slider {
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-top: 3rem;

        .pets__cards {
            // display: block;
            position: relative;  //не влияет
            width: 100%;
            overflow: hidden;   // особо не влияет
            // padding: 6rem 0.8rem;
        }

        .pets__card {
          display: none;
          position: relative;
          animation: 1s ease-in-out;
          margin: 0 auto;
          cursor: pointer;
          flex-direction: column;
          border-radius: 0.9rem;

          &:hover {
            box-shadow: $card__hover;
          }

          &__content {
            display: flex;
            flex-direction: column;
            padding-bottom: 3rem;
            align-items: center;
          }

          &__title {
            margin: 3.1rem 0;
            text-align: center;
            @include h4;
          }

          &__button {
            @include button__secondary;
          }
        }

        .pets__card.active,
        .pets__card.next {
          display: flex;
        }

        .next {
          position: absolute;
          top: 0;
          width: auto;
        }

        .slider__button {
          left: 20%;
          position: absolute;
          transform: translate(-50%, -50%);
          @include slider_button;
        }

        .slider__button__reverted {
          left: 80%;
          position: absolute;
          transform: translate(-50%, -50%) rotate(180deg);
          @include slider_button;
        }
    }
    &__button {
        @include button__primary;

        a {
            text-decoration: none;
            color: $color-dark-3xl;
        }
    }
}

.help {
    padding-top: 8rem;
    padding-bottom: 10rem;

    &__wrapper {
        display: flex;
        flex-direction: column;

        .help__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include h3();
            color: $color-dark-l;
        }
        span {
            display: block;
        }
    }

    &__content {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        column-gap: 11rem;
        row-gap: 5.5rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15em;

        &__icon {
          width: 8em
        }

        &__title {
            margin-top: 3rem;
            color: $color-dark-l;
            text-align: center;
            @include h4;
        }
    }
}

.donation {
    padding-top: 7.9rem;
    padding-bottom: 10rem;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__image__wrapper {
        margin-top: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        margin-left: 3rem;
        max-width: 38rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        color: $color-dark-l;
        @include h3;

        span {
            display: block;
        }
    }

    &__subtitle {
        margin-top: 2.1rem;
        color: $color-dark-l;
        @include h5;
    }

    &__payment {
        @include button__primary();
        margin-top: 2.1rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        display: flex;

        &__text {
            padding-left: 1.5rem;
            text-decoration: none;
            color: $color-dark-l;
            @include h4;
        }
    }

    &__description {
        margin-top: 2rem;
        color: $color-dark-m;
        @include paragraph_s();
    }
}

.footer {
    padding-top: 4rem;
    background: $footer-gradient-background;

    &__content {
        flex: 1;
        display: flex;
        justify-content: space-between;
        margin-top: 1.6rem;
        margin-bottom: 6rem;
        padding-right: 16.5rem;
    }

    &__contacts,
    &__locations {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            padding-top: 0.4rem;
            color: $color-light-xl;
            @include h3();

            span {
                display: block;
            }
        }

        &__mail,
        &__phone,
        &__address {
            display: flex;
            align-items: center;

            &__place {
                span {
                    display: block;
                }
            }

            &__place,
            &__text {
                margin-left: 2rem;
                color: $color-primary;
                @include h4();
            }
        }
    }
}

.pets__card.active.to-left {
  animation-name: left;
}

.pets__card.next.from-right {
  animation-name: right;
}

.pets__card.active.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.pets__card.next.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0
  }
  to {
    left: -100%
  }
}

@keyframes right {
  from {
    left: 100%
  }
  to {
    left: 0%
  }
}

@media screen and (max-width: 1279px) {
    .header {
        top: 3rem;

        .wrapper {
            margin: 0 3rem 0 3rem;
        }
    }

    .hero {

        padding-top: 15.2rem;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .hero__button__wrapper {
                display: flex;
                justify-content: center;
            }
        }

        &__image {
            max-width: 56.9rem;
            max-height: 59.3rem;

            &__wrapper {
                margin-top: 2rem;
                margin-left: 14rem;
            }
        }

        .content__section__title {
            padding-left: 0.3rem;
        }

        .content__section__subtitle {
            padding-left: 0.4rem;
        }


    }

    .about {

        &__wrapper {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .about__image__wrapper {
                margin-top: 8rem;
                margin-right: 0rem;
            }
        }
    }

    .pets {

        &__cards {

            .pets__card {
            margin: 0 2rem;
            }

            // .pets__card:nth-child(3) {
            //   display: none;
            // }
        }


        &__card__image {
            width: 27rem;
            height: 27rem;
        }
    }

    .help {

        &__content {

            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 7rem;
            row-gap: 5.5rem;
        }
    }

    .donation {
        padding-top: 8rem;
        padding-bottom: 10.1rem;

        &__wrapper {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__content {
            margin-left: 0rem;
        }

        &__subtitle {
            margin-top: 2rem;
        }

        &__payment {
            margin-top: 2rem;
        }

        &__image__wrapper {
            margin-top: 6rem;
        }
    }

    .footer {
        padding-bottom: 0;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__contacts__mail {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        &__content {
            width: 100%;
            margin-top: 0;
            padding-right: 0;
            margin-bottom: 6.2rem;
        }
    }

    /**/
    .footer {
        padding-top: 2.8rem;
    }

    .footer__content {
        display: grid;
        grid-template-columns: 35rem 35rem;
        justify-content: center;
        column-gap: 1rem;
    }

    .footer__contacts__responsive {
        //width: 100%;
        padding-left: 3.5rem;
    }

    .footer__locations__responsive {
        //width: 100%;
        padding-left: 1.4rem;
    }
}

@media screen and (max-width: 767px) {

    .hamburger__menu {
        z-index: 2;
        width: 3rem;
        height: 2.2rem;
        position: absolute;
        top: 5rem;
        right: 5.3rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.5s;
    }

    .burger__change {
        transform: rotateZ(90deg);
    }

    .line {
        width: 100%;
        height: 0.2rem;
        background-color: $color-primary;
    }

    .header {
        top: 0;

        .wrapper {
            margin: 3rem auto auto 1rem;
        }

        .nav {
            display: none;
        }
    }

    .hero {

        .content__section__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
            max-width: 100%;
        }

        .content__section__subtitle {
            width: 30rem;
            text-align: center;
        }

        .content__section__button {
            margin-top: 4.2rem;
        }

        .hero__image__wrapper {
            display: flex;
            justify-content: center;
            padding-top: 2.5rem;
            margin-top: 0rem;
            width: 100%;
            padding-left: 5rem;
            margin-left: 0rem;
        }

        .hero__image {
            max-width: 26rem;
            max-height: 27rem;
        }
    }

    .about {

        &__wrapper {
            padding-top: 4.5rem;
            padding-bottom: 0rem;
        }

        &__title {
            font-size: 2.5rem;
            letter-spacing: 0.15rem;

            span {
                text-align: center;
            }
        }

        &__content {
            width: 100%;
            align-items: center;
        }

        &__description {
            text-align: justify;
            padding: 0 2.6rem;

            p + p {
                margin-top: 2.1rem;
            }
        }

        .about__image__wrapper {
            margin-top: 4rem;
        }

        &__image {
            width: 26rem;
        }
    }

    .pets {
        padding-top: 8.5rem;
        padding-bottom: 8.3rem;

        &__title {
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
        }

        // .pets__card:nth-child(2) {
        //   display: none;
        // }

        &__slider {
            position: relative;
            align-items: flex-end;
        }

        .pets__cards {
            padding: 0 0rem 11.4rem 0rem;
        }

        &__card {
            margin: 0;
        }

        .slider__button {
            position: absolute;
            left: 6.3rem;
            bottom: 3.2rem;
            z-index: 1;
        }

        .slider__button__reverted {
            position: absolute;
            right: 6.3rem;
            bottom: 3.2rem;
        }
    }

    .help {
        padding-top: 0;
        padding-bottom: 0rem;

        .help__title {
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
        }

        .help__item__title {
            font-size: 1.5rem;
            margin: 2rem -0.5rem 0 0.5rem;
        }

        .help__content {
            display: grid;
            margin-top: 4.3rem;
            grid-template-columns: auto auto;
            row-gap: 3rem;
            column-gap: 4rem;
        }

        .help__item__icon {
            max-width: 5rem;
            max-height: 5rem;
        }

        .help__item {
            align-items: center;
        }
    }

    .donation {
        padding-top: 8.5rem;
        padding-bottom: 4.3rem;
        // .donation__title {
        //     align-items: center;
        // }

        .donation__title {
            font-size: 2.5rem;
            text-align: center;
            letter-spacing: 0.15rem;
        }

        .donation__content {
            align-items: center;
            max-width: 100%;
        }

        .donation__subtitle {
            margin-top: 2.4rem;
            letter-spacing: 0rem;
        }

        .donation__payment {
            margin-top: 2.3rem;
        }

        .donation__payment__text {
            font-size: 1.5rem;
            letter-spacing: 0.09rem;
            padding-left: 1.3rem;
        }

        .donation__description {
            text-align: justify;
            padding: 0 2rem;
        }

        .donation__image__wrapper {
            margin-top: 4.2rem;
        }

        .donation__image {
            max-width: 26rem;
        }
    }

    .footer {
        .footer__content {
            flex-direction: column;
            align-items: center;
            margin-bottom: 3.7rem;
        }

        .footer__contacts,
        .footer__locations {
            text-align: center;
            margin-bottom: 3.4rem;
        }

        .footer__locations {
            width: 100%;
            margin-bottom: 0rem;
        }

        .footer__contacts__title,
        .footer__locations__title {
            padding-top: 0.6rem;
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
        }

        .footer__contacts__span {
            display: inline;
        }

        .footer__contacts__mail {
            display: flex;
            justify-content: center;
        }

        .footer__contacts__phone {
            display: flex;
            justify-content: center;
        }

        .footer__locations__title {
            width: 29rem;
            padding-left: 3.1rem;
        }

        .footer__locations__span {
            display: inline;
        }

        .footer__locations__address {
            margin-top: 4rem;
            padding-left: 1rem;
        }

        .footer__locations__address__place1 {
            margin-left: 2rem;
            text-align: left;
        }

        .footer__image__wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .footer__image {
            max-width: 26rem;
        }
    }

    .footer {

        .footer__content {
            grid-template-columns: auto;
        }

        .footer__contacts__responsive {
            padding: 0;
        }

        .footer__locations__responsive {
            padding-top: 0.8rem;
            align-items: center;
            padding-left: 0;
        }

        .footer .footer__contacts__title,
        .footer .footer__locations__title {
            padding: 0;
        }

        .footer__contacts__title,
        .footer__locations__title {
            padding: 0;
        }

        .footer__contacts__span {
            display: inline;
        }

        .footer__locations__span {
            display: inline;
        }

        .footer__locations__address {
            margin-top: 4rem;
            width: 100%;
            padding-left: 1rem;
            text-align: start;
        }
    }
}

.logo__change {
    display: none;
}
