


.sidebar2 {
    z-index: 1;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 32rem;
    height: 82.3rem;
    background-color: #292929;
    top: 0;
    right: -32rem;
    align-items: center;
    transition: right 1s;

    .nav__list__link2 {
        color: #CDCDCD;
        font-family: Arial;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 160%;
    }
    
    .logo2 {
        position: absolute;
        top: 3rem;
        left: 1rem;

    
        .logo__title2 {
            color: #F1CDB3;
            font: {
                family: Georgia;
                style: normal;
                weight: normal;
                size: 3.2rem;
            }
            letter-spacing: 0.192rem;
            line-height: 110%;
        }
    
        .logo__subtitle2 {
        margin-top: 1rem;
        text-align: center;
        color: #ffffff;
        font: {
            family: Arial;
            style: normal;
            weight: normal;
            size: 1.3rem;
        }
        line-height: 110%;
        letter-spacing: 0.13rem;
        }
    }
        
    .nav2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .nav__list2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
    }    

    .nav__list__item2 {
        list-style-type: none;
    }

    .nav__list__link__active2 {
        color: #fafafa;
        border-bottom: solid 0.3rem #F1CDB3;
        padding-bottom: 0.6rem;
    }
}

.sidebar__change {
    right: 0;
}