:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 6rem;
}

.header .nav {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav .nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header .nav .nav__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav__list__link {
  color: #ffffff;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

.header .nav .nav__list__link__active {
  border-bottom: solid 0.3rem #F1CDB3;
}

.header .nav .nav__list__link__disabled {
  color: #cdcdcd;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  letter-spacing: 0.192rem;
  line-height: 110%;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18rem;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  width: 100%;
  max-width: 69.8rem;
  max-height: 72.8rem;
}

.content__section {
  padding-bottom: 8rem;
  max-width: 46.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 31rem;
  color: #ffffff;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
}

.content__section__subtitle {
  margin-top: 4.2rem;
  font-size: 1.5rem;
  color: #cdcdcd;
  font-family: Arial;
  line-height: 160%;
}

.content__section__button {
  margin-top: 4rem;
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content__section__button:hover {
  background-color: #FDDCC4;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.about__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12rem;
}

.about__image {
  width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 43rem;
}

.about__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.about__title span {
  display: block;
}

.about__description {
  margin-top: 2.5rem;
}

.about__description p {
  color: #545454;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
}

.about__description p + p {
  margin-top: 2.5rem;
}

.pets {
  background-color: #f6f6f6;
  padding-top: 8rem;
  padding-bottom: 9.8rem;
}

.pets__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  max-width: 40rem;
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.pets__title span {
  display: block;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__slider .pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6rem 0.8rem;
}

.pets__slider .pets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.9rem;
  margin: 0 4.5rem;
}

.pets__slider .pets__card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__slider .pets__card__image {
  width: 100%;
}

.pets__slider .pets__card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__slider .pets__card__title {
  margin: 3.1rem 0;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.pets__slider .pets__card__button {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 0.2rem #F1CDB3;
          box-shadow: inset 0 0 0 0.2rem #F1CDB3;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets__slider .pets__card__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FDDCC4;
}

.pets__slider .slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  -webkit-box-shadow: inset 0 0 0 0.3rem #F1CDB3;
          box-shadow: inset 0 0 0 0.3rem #F1CDB3;
  cursor: pointer;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets__slider .slider__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FDDCC4;
}

.pets__slider .slider__button__reverted {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  -webkit-box-shadow: inset 0 0 0 0.3rem #F1CDB3;
          box-shadow: inset 0 0 0 0.3rem #F1CDB3;
  cursor: pointer;
  border-radius: 100%;
  padding: 1.9rem;
  background: none;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets__slider .slider__button__reverted:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #FDDCC4;
}

.pets__button {
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets__button:hover {
  background-color: #FDDCC4;
}

.help {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.help__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__wrapper .help__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.help__wrapper span {
  display: block;
}

.help__content {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12rem;
          column-gap: 12rem;
  row-gap: 5.5rem;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__item__title {
  margin-top: 3rem;
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.donation {
  padding-top: 7.9rem;
  padding-bottom: 10rem;
}

.donation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation__image__wrapper {
  margin-top: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation__content {
  margin-left: 3rem;
  max-width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.donation__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.donation__title span {
  display: block;
}

.donation__subtitle {
  margin-top: 2.1rem;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
}

.donation__payment {
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-top: 2.1rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donation__payment:hover {
  background-color: #FDDCC4;
}

.donation__payment__text {
  padding-left: 1.5rem;
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.donation__description {
  margin-top: 2rem;
  color: #b2b2b2;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
}

.footer {
  padding-top: 4rem;
  background: url(../../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 6rem;
  padding-right: 16.5rem;
}

.footer__contacts, .footer__locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts__title, .footer__locations__title {
  padding-top: 0.4rem;
  color: #ffffff;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.footer__contacts__title span, .footer__locations__title span {
  display: block;
}

.footer__contacts__mail, .footer__contacts__phone, .footer__contacts__address, .footer__locations__mail, .footer__locations__phone, .footer__locations__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts__mail__place span, .footer__contacts__phone__place span, .footer__contacts__address__place span, .footer__locations__mail__place span, .footer__locations__phone__place span, .footer__locations__address__place span {
  display: block;
}

.footer__contacts__mail__place, .footer__contacts__mail__text, .footer__contacts__phone__place, .footer__contacts__phone__text, .footer__contacts__address__place, .footer__contacts__address__text, .footer__locations__mail__place, .footer__locations__mail__text, .footer__locations__phone__place, .footer__locations__phone__text, .footer__locations__address__place, .footer__locations__address__text {
  margin-left: 2rem;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

@media screen and (max-width: 1279px) {
  .header {
    top: 3rem;
  }
  .header .wrapper {
    margin: 0 3rem 0 3rem;
  }
  .hero {
    padding-top: 15.2rem;
  }
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__wrapper .hero__button__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__image {
    max-width: 56.9rem;
    max-height: 59.3rem;
  }
  .hero__image__wrapper {
    margin-top: 2rem;
    margin-left: 14rem;
  }
  .hero .content__section__title {
    padding-left: 0.3rem;
  }
  .hero .content__section__subtitle {
    padding-left: 0.4rem;
  }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__wrapper .about__image__wrapper {
    margin-top: 8rem;
    margin-right: 0rem;
  }
  .pets .pets__card__woody {
    display: none;
  }
  .pets__cards .pets__card {
    margin: 0 2rem;
  }
  .pets__card__image {
    width: 27rem;
    height: 27rem;
  }
  .help__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-column-gap: 7rem;
            column-gap: 7rem;
    row-gap: 5.5rem;
  }
  .donation {
    padding-top: 8rem;
    padding-bottom: 10.1rem;
  }
  .donation__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__content {
    margin-left: 0rem;
  }
  .donation__subtitle {
    margin-top: 2rem;
  }
  .donation__payment {
    margin-top: 2rem;
  }
  .donation__image__wrapper {
    margin-top: 6rem;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts__mail {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .footer__content {
    width: 100%;
    margin-top: 0;
    padding-right: 0;
    margin-bottom: 6.2rem;
  }
  /**/
  .footer {
    padding-top: 2.8rem;
  }
  .footer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35rem 35rem;
        grid-template-columns: 35rem 35rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .footer__contacts__responsive {
    padding-left: 3.5rem;
  }
  .footer__locations__responsive {
    padding-left: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .header {
    top: 0;
  }
  .header .wrapper {
    margin: 3rem auto auto 1rem;
  }
  .header .nav {
    display: none;
  }
  .header .hamburger__menu {
    width: 3rem;
    height: 2.2rem;
    position: absolute;
    top: 5rem;
    right: 5.3rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .line {
    width: 100%;
    height: 0.2rem;
    background-color: #F1CDB3;
  }
  .hero .content__section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    max-width: 100%;
  }
  .hero .content__section__subtitle {
    width: 30rem;
    text-align: center;
  }
  .hero .content__section__button {
    margin-top: 4.2rem;
  }
  .hero .hero__image__wrapper {
    padding-top: 2.5rem;
    margin-top: 0rem;
    width: 100%;
    padding-left: 5rem;
    margin-left: 0rem;
  }
  .hero .hero__image {
    max-width: 26rem;
    max-height: 27rem;
  }
  .about__wrapper {
    padding-top: 4.5rem;
    padding-bottom: 0rem;
  }
  .about__title {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
  .about__title span {
    text-align: center;
  }
  .about__content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__description {
    text-align: justify;
    width: 27rem;
  }
  .about__description p + p {
    margin-top: 2.1rem;
  }
  .about .about__image__wrapper {
    margin-top: 4rem;
  }
  .about__image {
    width: 26rem;
  }
  .pets {
    padding-top: 8.5rem;
    padding-bottom: 8.3rem;
  }
  .pets__title {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
  .pets .pets__cards div + div {
    display: none;
  }
  .pets__slider {
    position: relative;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .pets .pets__cards {
    padding: 4rem 0rem 11.4rem 0rem;
  }
  .pets__card {
    margin: 0;
  }
  .pets .slider__button {
    position: absolute;
    left: 6.3rem;
    bottom: 4.2rem;
  }
  .pets .slider__button__reverted {
    position: absolute;
    right: 6.3rem;
    bottom: 4.2rem;
  }
  .help {
    padding-top: 0;
    padding-bottom: 0rem;
  }
  .help .help__title {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
  .help .help__item__title {
    font-size: 1.5rem;
    margin: 2rem -0.5rem 0 0.5rem;
  }
  .help .help__content {
    display: -ms-grid;
    display: grid;
    margin-top: 4.3rem;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    row-gap: 3rem;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .help .help__item__icon {
    max-width: 5rem;
    max-height: 5rem;
  }
  .help .help__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation {
    padding-top: 8.5rem;
    padding-bottom: 4.3rem;
  }
  .donation .donation__title {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.15rem;
  }
  .donation .donation__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation .donation__subtitle {
    margin-top: 2.4rem;
    letter-spacing: 0rem;
  }
  .donation .donation__payment {
    margin-top: 2.3rem;
  }
  .donation .donation__payment__text {
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
    padding-left: 1.3rem;
  }
  .donation .donation__description {
    text-align: justify;
    max-width: 28rem;
  }
  .donation .donation__image__wrapper {
    margin-top: 4.2rem;
  }
  .donation .donation__image {
    max-width: 26rem;
  }
  .footer .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3.7rem;
  }
  .footer .footer__contacts,
  .footer .footer__locations {
    text-align: center;
    margin-bottom: 3.4rem;
  }
  .footer .footer__locations {
    width: 100%;
    margin-bottom: 0rem;
  }
  .footer .footer__contacts__title,
  .footer .footer__locations__title {
    padding-top: 0.6rem;
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
  .footer .footer__contacts__span {
    display: inline;
  }
  .footer .footer__contacts__mail {
    padding-left: 3.4rem;
  }
  .footer .footer__contacts__phone {
    padding-left: 4rem;
  }
  .footer .footer__locations__title {
    width: 29rem;
    padding-left: 3.1rem;
  }
  .footer .footer__locations__span {
    display: inline;
  }
  .footer .footer__locations__address {
    margin-top: 4rem;
    padding-left: 1rem;
  }
  .footer .footer__locations__address__place1 {
    margin-left: 2rem;
    text-align: left;
  }
  .footer .footer__image__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__image {
    max-width: 26rem;
  }
  .footer .footer__content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .footer .footer__contacts__responsive {
    padding: 0;
  }
  .footer .footer__locations__responsive {
    padding-top: 0.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .footer .footer .footer__contacts__title,
  .footer .footer .footer__locations__title {
    padding: 0;
  }
  .footer .footer__contacts__title,
  .footer .footer__locations__title {
    padding: 0;
  }
  .footer .footer__contacts__span {
    display: inline;
  }
  .footer .footer__locations__span {
    display: inline;
  }
  .footer .footer__locations__address {
    margin-top: 4rem;
    width: 100%;
    padding-left: 1rem;
    text-align: start;
  }
}
/*# sourceMappingURL=main.css.map */