.dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.popup {
    z-index: 1;
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    margin-top: 13.4rem;
}

.popup__wrapper {
    max-width: 95.2rem;
    max-height: 55.2rem;
    margin-left: 5rem;
}

.popup__button__wrapper {
    text-align: right;
    margin-right: 0.8rem;
    display: flex;
    justify-content: flex-end;

    .popup__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.2rem;
        height: 5.2rem;
        box-shadow: inset 0 0 0 0.3rem #F1CDB3;
        cursor: pointer;
        border-radius: 100%;
        padding: 1.9rem;
        border: none;
        outline: none;
        transition-duration: 0.5s;

        &:hover {
            box-shadow: none;
            background-color: #F1CDB3;
        }
    }
}

.popup__window {
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5rem;

    img {
        width: 50rem;
        height: 50rem;
    }

    h3 {
        font-family: Georgia;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.5rem;
        letter-spacing: 0.2rem;
        text-align: left;
    }

    h4 {
        margin-top: 1rem;
        font-family: Georgia;
        font-size: 2.0rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.3rem;
        letter-spacing: 0.12rem;
        text-align: left;
    }

    h5 {
        max-width: 35rem;
        font-family: Georgia;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7rem;
        letter-spacing: 0.09rem;
        text-align: left;
        margin: 4rem 0 4rem 0;
    }

    p {
        font-family: Georgia;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7rem;
        letter-spacing: 0.13rem;
        text-align: left;
        margin-top: 1.1rem;

        .popup__dot {
            color: #F1CDB3;
            margin-right: 0.2rem;
        }
    }

    .popup_span_1,
    .popup_span_2,
    .popup_span_3,
    .popup_span_4 {
        font-weight: 700;
    }
}

.popup__content {
    margin: 0 2rem 4rem 3rem;
}

@media screen and (max-width: 1279px) {
    .popup {
        margin-top: 21rem;
        right: 50%;
        top: 20%;
    }
    
    .popup__wrapper {
        max-width: 68.2rem;
        max-height: 40.2rem;
    }
    
    .popup__window {
    
        img {
            width: 35rem;
            height: 35rem;
            margin-left: 0.8rem;
        }
    
        h5 {
            font-size: 1.3rem;
            line-height: 1.43rem;
            letter-spacing: 0.04rem;
            margin: 2rem 0 2rem 0;
        }
    
        p {
            line-height: 1.7rem;
            margin-top: 0.6rem;
        }
    }
    
    .popup__content {
        margin: 0.4rem 2rem 3.5rem 2rem;
        width: 26rem;
    }
}

@media screen and (max-width: 767px) {
    .popup {
        margin-top: 16.8rem;
        right: 50%;
        top: 20%;
    }
    
    .popup__button {
        margin-right: 2rem;
    }
    
    .popup__window {
        padding-bottom: 1rem;
    
        img {
            display: none;
        }
    
        h3 {
            text-align: center;
            margin-top: 1rem;
        }
    
        h4 {
            text-align: center;
        }
    
        h5 {
            text-align: justify;
            margin: 2rem 1rem 2.4rem 1rem;
        }
    
        p {
            margin-left: 1.1rem;
        }
    }
    
    .popup__content {
        margin: 0;
        width: 24rem;
        height: 34.1;
    }
}

.popup__hide {
    display: none;
}

.popup_button_on_overlay_hover {
    box-shadow: none;
    background-color: #F1CDB3;
}